- if entry.type == 'Event::Festival'
  = action_button(I18n.t('event_decorator.apply'), group_participations_group_event_url, :check)
  = action_button(I18n.t('event.group_participation.list'), group_participations_list_group_event_url, :list)
