- if entry.valid?
  $(".song-counts form.new_song_count :input[name='song_count[song_id]']").val("#{entry.id}");
  $(".song-counts form.new_song_count").submit();
  $('.song-counts #new_song').hide();

$('#flash').html("#{j(render(partial: "layouts/flash", collection: [:notice, :alert], as: :level))}");
