- if can?(:manage_song_census, @group) && @census.try(:reminder_period?)
  = action_button(t('.send'), group_song_census_remind_path(@group.id, @census), nil,
    { data: { confirm: "#{t('.send_confirm')}" }, method: 'post' })
