- title entry.event

= list_table :group_id, :joint_participation, :secondary_group_id, :music_style, :music_type, :music_level, :parade_music, :preferred_play_day_1, :preferred_play_day_2, :terms_accepted
