- title ti(:title, :model => model_class_label(entry))

%p
  Anmeldung bei
  = @event
  als
  %b
    = @participating_group
  -# %li
  -#   Suche nach anderem Verein, wenn man Spielgemeinschaft bilden möchte
  -# %li
  -#   speichern und weiter zur Auswahl des Musiktyps

= crud_form(path_args(entry),
  buttons_bottom: true,
  buttons_top: false,
  cancel_url: polymorphic_path(path_args(model_class), returning: true)) do |f|
  = f.hidden_field :group_id, value: @participating_group.id
