= fields.labeled_string_field(:birthday,
                              help_inline: t('people.fields.format_birthday'),
                              class: 'd-help_inline')

= fields.labeled(:language) do
  = fields.select(:language, supported_languages, { selected: fields.object.language || default_language_for_person(@group) }, class: 'form-select form-select-sm')
