-#  Copyright (c) 2026, Schweizer Blasmusikverband. This file is part of
-#  hitobito_sbv and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sbv.

- role_type = local_assigns.fetch(:role_type) { role_type_class(entry, group) }
- if mitglied_role_type?(role_type)
  - if local_assigns[:f]
    = f.labeled_collection_select(:instrument,
                                  Role::MitgliederMitglied.instrument_labels.to_a,
                                  :first,
                                  :last,
                                  { include_blank: "" },
                                  class: 'form-select form-select-sm')
  - else
    .row.mb-3
      %label.col-form-label.text-md-end.col-md-3{ for: "role_instrument" }
        = Role.human_attribute_name(:instrument)
      .col-md-9
        = select_tag("role[instrument]",
                     options_for_select(Role::MitgliederMitglied.instrument_labels.to_a.map(&:reverse),
                                        entry&.instrument),
                     include_blank: true,
                     class: "form-select form-select-sm",
                     id: "role_instrument")
