= list_table do |t|
  - t.col do |s|
    = song_counts_count(s)

  - t.col(t.sort_header(:title)) do |s|
    = content_tag(:strong, link_to(s.song, s.song))

  - t.sortable_attrs(:composed_by, :arranged_by)

  - action_col(t) do |e|
    - if !e.readonly? && can?(:destroy, e) && (!e.respond_to?(:deleted?) || !e.deleted?)
      = link_to(icon(:trash), group_song_count_path(e.verein, e),
                class: 'action',
                title: ti(:"link.delete"),
                alt: ti(:"link.delete"),
                data: { remote: true, method: :delete })
