= list_table do |t|
  - t.col do |s|
    = "#{s.count}x"

  - t.col(t.sort_header(:title)) do |s|
    = content_tag(:strong, link_to(s.song, s.song))

  - t.sortable_attrs(:composed_by, :arranged_by)
