- @sheet = Sheet::SongCount.with_parent(self, Sheet::Group, @group)
= content_for(:toolbar, render('actions_index'))
= render 'shared/page_per_year'

#main.row-fluid.song-counts
  .list
    = render 'list', list: @list
